<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HopeLine.Web </title>

        <link rel="stylesheet" href="~/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        
    </head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div id="headerMenu" class="container">
            <a class="navbar-brand" href="./index.html" style="font-size: 30px">HopeLine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <!--   <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="TalkToMentor/TalkToMentor.html">Talk to Mentor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Map/Map.html">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Resources/Resources.html">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Community/Community.html">Community</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>-->

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top pt-sm-0 mt-sm-0">
        <div id="headerMenu" class="container">
            <a class="navbar-brand" asp-page="/Index" style="font-size: 30px">HopeLine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!--   <li class="nav-item active">
            <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a>
        </li> -->
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/SelectTopics">Talk to Mentor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Resources">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Community">Community</a>
                    </li>

                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <div class="container-fluid body-content p-0 ">
        @RenderBody()
    </div>
    

        <script src="~/js/jquery-3.3.1.js"></script>
        <script src="~/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/signalr.js"></script>
        <script src="~/js/chat.js"></script>


     <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-col">
                    <div class="logofooter"> Contact</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <p>
                        <i class="fa fa-map-pin"></i> #228, Tiruvannamalai, Tamilnadu, India</p>
                    <p>
                        <i class="fa fa-phone"></i> Phone (India) : +91 9999 999 999</p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : info@prabuuideveloper.com</p>

                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">About Us</h6>
                    <div class="post">
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">Social Media</h6>
                    <ul class="footer-social">
                        <li>
                            <a href="www.linkedin.com"><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-google-plus social-icon google" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p id="demo" class="copyright"></p>
            </div>
        </div>
    </div>

    <!--   <environment include="Development">
          <script src="~/lib/jquery/dist/jquery.js"></script>
          <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
          <script src="~/js/site.js" asp-append-version="true"></script>
      </environment>
      <environment exclude="Development">
          <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                  asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                  asp-fallback-test="window.jQuery"
                  crossorigin="anonymous"
                  integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
          </script>
          <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                  asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                  asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                  crossorigin="anonymous"
                  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
          </script>
          <script src="~/js/site.min.js" asp-append-version="true"></script>
      </environment> -->



    @RenderSection("Scripts", required: false)
</body>
</html>
