<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HopeLine.Web </title>

        <link rel="stylesheet" href="~/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        
    </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">HopeLine.Web</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - HopeLine.Web</p>
        </footer>
    </div>

        <script src="~/js/jquery-3.3.1.js"></script>
        <script src="~/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/chat.js"></script>
        <script src="~/js/signalr.js"></script>
        
    @RenderSection("Scripts", required: false)
</body>
</html>



