@{ 
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<body>

    <div class="sidebar bg-dark">

        <div class=" container">
           <nav class="navbar navbar-expand-lg navbar-dark bg-dark left pt-sm-0 mt-sm-0" >
                <div id="headerMenu" class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                    <partial name="_ManageNav.cshtml" />
                    </div>
                   </div>
               </nav>
           </div>

   </div>

    <section class="container-fluid">

        @RenderBody()
    </section>




</body>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
