################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRJ/.vs/PRJ/v15/Server/sqlite3
/.vs
/PRJ/.vs/PRJ
PRJ/HopeLine.DataAccess/obj/Debug/netcoreapp2.1/HopeLine.DataAccess.AssemblyInfo.cs
PRJ/HopeLine.DataAccess/obj/Debug/netcoreapp2.1/HopeLine.DataAccess.AssemblyInfoInputs.cache
PRJ/HopeLine.DataAccess/obj/Debug/netcoreapp2.1/HopeLine.DataAccess.csproj.CoreCompileInputs.cache
PRJ/HopeLine.DataAccess/obj/Debug/netcoreapp2.1/HopeLine.DataAccess.csprojAssemblyReference.cache
PRJ/HopeLine.Infrastructure/obj/Debug/netcoreapp2.1/HopeLine.Infrastructure.AssemblyInfo.cs
PRJ/HopeLine.Infrastructure/obj/Debug/netcoreapp2.1/HopeLine.Infrastructure.AssemblyInfoInputs.cache
PRJ/HopeLine.Infrastructure/obj/Debug/netcoreapp2.1/HopeLine.Infrastructure.csproj.CoreCompileInputs.cache
PRJ/HopeLine.Security/obj/Debug/netcoreapp2.1/HopeLine.Security.csprojAssemblyReference.cache
PRJ/HopeLine.Service/obj/Debug/netcoreapp2.1/HopeLine.Service.csprojAssemblyReference.cache
PRJ/WebTemplate/obj/Debug/netcoreapp2.1/WebTemplate.AssemblyInfo.cs
PRJ/WebTemplate/obj/Debug/netcoreapp2.1/WebTemplate.AssemblyInfoInputs.cache
PRJ/WebTemplate/obj/Debug/netcoreapp2.1/WebTemplate.csproj.CoreCompileInputs.cache
PRJ/WebTemplate/obj/Debug/netcoreapp2.1/WebTemplate.csprojAssemblyReference.cache
PRJ/WebTemplate/obj/Debug/netcoreapp2.1/WebTemplate.RazorAssemblyInfo.cache
PRJ/WebTemplate/obj/Debug/netcoreapp2.1/WebTemplate.RazorAssemblyInfo.cs
*.cache
*.pdb
*.CopyComplete
*.dll
*.cache
*.xml
*.cache
*.json
*.txt
/PRJ
