################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRJ/.vs/PRJ/v15/Server/sqlite3
