@page
@using HopeLine.Web.Areas.Mentor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
@{
      Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="mentor-login justify-content-center mb-5" style="margin-top:100px;">
    <div class="row justify-content-center">
    <form  method="POST" class=" col-xs-12 shadow-lg rounded p-5 m-0">
        <h1 class="display-5">Mentor Access</h1>
        <hr />
         <div class="form-group">
            <label for="email"><small class="text-muted">Email Address</small><span class="text-danger"> *</span></label>
            <input asp-for="LoginInput.Username" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" autofocus>
            <small>
                <span asp-validation-for="LoginInput.Username" class="text-danger"></span>
            </small>
        </div>
         <div class="form-group">
        <label for="password"><small class="text-muted">Password</small><span class="text-danger"> *</span></label>
        <input asp-for="LoginInput.Password" type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter Password" autofocus>
        <small>
        <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
        </small>
    </div>
        <button id="loginbutton" class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>