@page
@using HopeLine.Web.Areas.Mentor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
@{
      Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="mentor-login justify-content-center mb-5" style="margin-top:100px;">
    <div class="row justify-content-center">
    <form  method="POST" class=" col-xs-12 shadow-lg rounded p-5 m-0">
        <h1 class="display-5">Mentor Access</h1>
        <hr />
        <input type="text"  asp-for="LoginInput.Username" class="form-control" placeholder="Username / ID" required autofocus>
        <br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" asp-for="LoginInput.Password" class="form-control mb-2" placeholder="Password" required>
        <br />
        <button id="loginbutton" class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>