@page
@model IndexModel
@{
}

<hr/>

<h1>Please Select the Topics for the Conversation</h1>

<form >
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Topics</th>
                <th scope="col">Description</th>
                <th scope="col">Select&nbsp;Here</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Depression</td>
                <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                <td class="form-group">
                    <input type="checkbox" value="depression" style="width: 20px; height: 20px;" class="pull-right">
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bullying</td>
                <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                <td class="form-group">
                    <input type="checkbox" value="bullying" style="width: 20px; height: 20px;" class="pull-right">
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Phonbia</td>
                <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                <td class="form-group">
                    <input type="checkbox" value="phonbia" style="width: 20px; height: 20px;" class="pull-right">
                </td>
            </tr>
        </tbody>
    </table>

    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Submit
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button type="submit" class="dropdown-item" href="#">Live Chat</button>
            <button type="submit" class="dropdown-item" href="#">Audio Chat</button>
            <button type="submit" class="dropdown-item" href="#">Video Chat</button>
        </div>
    </div>
</form>