@page
@using HopeLine.Web.Pages
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@model AuthenticateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>HopeLine - Login Portal</title>
</head>

<body class="container" style="background-image:url(https://s-i.huffpost.com/gen/2425566/images/o-HOPE-facebook.jpg)">

    <div style="margin-top:100px;"></div>
    <section class="row justify-content-center">
        <div class="card text-center col-10 col-lg-6 p-5 border-0 shadow-lg">
            <h1 class=" mb-3 display-4 d-md-block d-none">Let's Talk about it.</h1>
            <h5 class=" mb-3">Access our resources or talk to one of our mentors.</h1>
            <hr />
            <br />
            @if(@HttpContextAccessor.HttpContext.Request.QueryString.Value != null){
                <a href=@Url.Page("Login", new {area="User",returnUrl=@HttpContextAccessor.HttpContext.Request.Query["returnUrl"]}) class="btn btn-lg btn-primary btn-block">Sign in</a>
                <a href=@Url.Page("Login", new {area="Guest",returnUrl=@HttpContextAccessor.HttpContext.Request.Query["returnUrl"]}) class="btn btn-lg btn-secondary btn-block">Login as Guest</a>
                <a href=@Url.Page("Register", new {area="User",returnUrl=@HttpContextAccessor.HttpContext.Request.Query["returnUrl"]}) class="btn btn-lg btn-outline-success btn-block">Register</a>                <hr />
                <div class="mb-2">
                    <label class="float-right">
                        <a href=@Url.Page("Login",new {area="Admin",returnUrl=@HttpContextAccessor.HttpContext.Request.Query["returnUrl"]})  class="btn btn-white text-black-50">Admin Access</a>
                    </label>
                    <label class="float-right">
                        <a href=@Url.Page("Login",new{ area="Mentor",returnUrl=@HttpContextAccessor.HttpContext.Request.Query["returnUrl"]}) class="btn btn-outline-light border text-black-50">Mentor Access</a>
                    </label>
                </div>
            }else{
                <a href=@Url.Page("Login", new {area="User"}) class="btn btn-lg btn-primary btn-block">Sign in</a>
                <a href=@Url.Page("Login", new {area="Guest"}) class="btn btn-lg btn-secondary btn-block">Login as Guest</a>
                <a href=@Url.Page("Register", new {area="User"})  class="btn btn-lg btn-outline-success btn-block">Register</a>                <hr />
                <div class="mb-2">
                    <label class="float-right">
                        <a href=@Url.Page("Login", new {area="Admin"})  class="btn btn-white text-black-50">Admin Access</a>
                    </label>
                    <label class="float-right">
                        <a href=@Url.Page("Login", new {area="Mentor"}) class="btn btn-outline-light border text-black-50">Mentor Access</a>
                    </label>
                </div>
            }
            
        </div>
    </section>
    <!-- Optional
                    JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>


<!--https://futureoflife.org/wp-content/uploads/2016/12/2016_hope-1030x686.jpg?x93895-->