@page 
@model HopeLine.Web.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<input id="pin" value="@Model.PIN" hidden>
<section class="container justify-content-between mt-5">
    <div class="chat col-sm-12 col-md-5 shadow-sm mb-2 ">
        <div class="card">
            <div class="card-header">
                <h3>
                    Chat
                </h3>
                <div class="form-group">
                    <label>@Model.PIN</label>
                    <input type="text" class="form-control" id="userInput" placeholder="Name" value="@Model.UserName" />
                <button  id="connectButton" type="button" class="btn btn-outline-info text-black-50">Connect</button> 
                </div>
            </div>
            <div class="card-body bg-white" id="chatbox" style="height:600px;  overflow-y: auto; ">
            </div>
            <div class="card-footer text-muted">
                <div class="form-row">
                    <div class="col-9">

                        <textarea class="form-control" id="messageInput" rows="1"></textarea>
                    </div>
                    <div class="col-3">
                        <input type="button" id="sendButton" class="btn btn-success" value="Send" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

