@page

<input id="room" value="room" hidden>
<section class="row justify-content-between mt-5">
    <div class="chat col-sm-12 col-md-5 shadow-sm mb-2 ">
        <div class="card">
            <div class="card-header">
                <h3>
                    Chat
                </h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="userInput" placeholder="Name">
                </div>
            </div>
            <div class="card-body bg-white" id="chatbox" style="height:600px;  overflow-y: auto; ">
            </div>
            <div class="card-footer text-muted">
                <div class="form-row">
                    <div class="col-9">

                        <textarea class="form-control" id="messageInput" rows="1"></textarea>
                    </div>
                    <div class="col-3">
                        <input type="button" id="sendButton" class="btn btn-success" value="Send" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call col-sm-12 col-md-7 shadow-sm bg-secondary p-2 rounded" style="height:800px;">
    <div class="bg-dark shadow-lg rounded m-2" style="right:20px;bottom:20px; height: 150px; width: 200px;position:absolute">
    </div>
</section>
<!-- Optional JavaScript -->
<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>
