@page
@model HopeLine.Web.Pages.CommunityModel
@{
    ViewData["Title"] = "Community";
}




<p></p>



<div class="container">
    <hr />
    <h2> Community Page</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Community</th>
                <th scope="col">Description</th>
                <th scope="col">Join&nbsp;Community</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Talk to Me</td>
                <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                <td class="form-group">
                    <a type="button" href="http://www.facebook.com" class="btn-primary pull-right"><input type="button" value="Join" class="btn-primary pull-right"/></a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>We Hear You</td>
                <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                <td class="form-group">
                    <a type="button" href="http://www.facebook.com" class="btn-primary pull-right"><input type="button" value="Join" class="btn-primary pull-right"/></a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>We&nbsp;Hear&nbsp;You,&nbsp;Too</td>
                <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                <td class="form-group">
                    <a type="button" href="http://www.facebook.com" class="btn-primary pull-right"><input type="button" value="Join" class="btn-primary pull-right"/></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>