@page
@model HopeLine.Web.Pages.CommunityModel
@{
    ViewData["Title"] = "Community";
}

<div class="container" style="margin-top: 90px;">
    <h2> Community Page</h2>
    <hr>

    <table class="table table-striped">

        <tbody class="container" style="margin-top: 90px;">

            <div class="row">
             

                    @foreach (var item in Model.Communities)
                    {


                    <div class="col-md-4">
                            <div class="card" >
                                <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                    <p class="card-text"> @Html.DisplayFor(modelitem => item.Description)</p>
                                    <a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary">Go</a>
                                </div>
                            </div>
                        </div>
                        

                    }
                                           

            </div>

        </tbody>

    </table>

</div>