@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/map.css"/>
    <link rel="stylesheet" href="~/css/index.css"/>
    <link rel="stylesheet" href="~/css/flexslides.css"/>
</head>
<section class="py-5" style="background-image: url('https://unsplash.it/1900/1080?image=399');">
    <a class="btn btn-success" style="width:200px;height:40px;" asp-page="SelectTopics">
        Click here to communicate with a mentor.
    </a>

</section>


<!--Welcome-->
<section class="welcome-section container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Hopeline. </h1>
            <h2>
                Need someone to talk to? Are you dealing with suicide or other mental health issues?Click on talk
                to mentor to speak with them.
            </h2>
            <p>
                HopeLine is a multi platform suicide prevention and mental health awareness 
                application. 
                This portal would provide the user access to resources and ways to communicate with another person.
                If you are dealing  with mental health issues and/or other issues in life then you can visit HopeLine
                to discuss about your issues, seek advice, and to take advantage of the resources that we can provide you with
                to help you improve your life.
                 We have many different ways to communicate which includes, video chat, audio chat, and 
                live chat. If you wish to speak to a mentor don't be afraid to contact us! Click the button to chat! 
            </p>
        </div>
    </div>
</section>

<section class="py-6" style="background-image: url('https://unsplash.it/1900/1080?image=791');
                             background-attachment: fixed;
                             background-size: cover;
                             text-align: center;">
    <div style="height: 150px;"></div>
</section>

<!--Community-->
<section class="Community-section container">
    <h1>Visit our community page</h1>
    <p>
        Our community page provides you links to social media related websites that are related to mental health wellness.
        Feel free to join online forums and discussions related to mental health wellness and suicide prevention.
        Hopeline wishes to work with and collaborate with many other organizations with a similar cause to spread
        the awareness and importance of mental health and suicide. If you want to be part of a online group or society that
        wants to support this cause then feel free to join. The imporance of spreading the awareness of mental health
        through online discussions may help those in need as well.
    </p>
</section>

<!--Map-->
<!-- <section class="Map-section container"> -->
<section class="Map-section container">
    <h1>Check out our Map</h1>



    <div id="map" style="width:auto;height:400px;"></div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIFAuLDWD-TFRudMTWb-t2rUAzNyVFk3I&libraries=places&callback=initAutocomplete"
            async defer></script>

    <!--

    <div id="map" style="width:auto;height:400px;background:yellow"></div>
    <script>
            function myMap() {
                var mapOptions = {
                    center: new google.maps.LatLng(51.5, -0.12),
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
    -->
</section>



<!--resources-->
<!-- <section class="py-6" style="background-image: url('https://unsplash.it/1900/1080?image=791');"> -->
<!-- <div style="height: 200px;"></div> -->
<!-- </section> -->
<!--communicate-->
<section class="resources-section container">
    <h1>Visit our resource page if you want to learn more about mental health and information about suicide</h1>
    <p>
        There are many other organizations with a similar cause to HopeLine. Mental health wellness and 
        suicide prevention is a global effort.
        Mental health should not be a stigma and the organizations and resources provided to you 
        would hopefully make people more aware of how serious certain mental health issues can be
        Organizations like WeHearYou is also a website that you can follow where you can communicate with someone else
        If you want to know more about issues related to mental health then these resources may be very useful to you.
        Links include other suicide prevention portals, statistics, and such.
    </p>
</section>

<script src="~/js/map.js"></script>