@page
@model HopeLine.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


 <!-- Start Slider Area -->
    <div id="home" class="slider-area">
      <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides" style="resize:both;">
          <!---->
          <img src="~/images/background1.jpg" alt="" title="#slider-direction-1" />
          <img src="~/images/background2.jpg" alt="" title="#slider-direction-2" />
          <img src="~/images/background3.jpg" alt="" title="#slider-direction-3" />
        </div>

        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction slider-one">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content">
                  <!-- layer 1 -->
                  <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2 class="title1">Welcome to HopeLine</h2>
                  </div>
                  <!-- layer 2 -->
                  <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                    <h1 class="title2">We're here to help you. Click the button below to speak to a mentor</h1>
                  </div>
                  <!-- layer 3 -->
                  <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <a class="btn btn-primary" btn-lg asp-page="/InstantChat" style="width: 200px; height: 40px; resize: both;">Click here to talk
                      to a mentor</a>
                    <!--<a class="ready-btn page-scroll" href="#about">Learn More</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End Slider Area -->

    <!-- Start About area -->
    
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>About HopeLine</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single-well start-->

          <!-- single-well end-->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <a href="#">
                  <h4 class="sec-head">Our services</h4>
                </a>
                <p>
                  Hopeline is a multiplatform suicide prevention and mental health wellness application. We are
                  dedicated to spreading awareness of mental health issues and
                  to try our best to provide advice and guidance to anybody suffering from any sort of mental health
                  issues. Our application provides the following:
                </p>
                <ul>
                  <li>
                    <i class="fa fa-check"></i> IOS Compatibility
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Android compatibility
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Custom Google Map Filtering
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Links to other organizations that provide similar services
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Free online Mentoring
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div>
    
    <!-- End About area -->

    <!-- Start Service area -->
    <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="services-contents"></div>
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="fa fa-comments"></i>
                  </a>
                  <h4>Live Chat</h4>
                  <p>
                    You can choose live chat to communicate with a mentor through texting on your phone or
                    typing through your computer.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="fa fa-camera-retro"></i>
                  </a>
                  <h4>Video Chat</h4>
                  <p>
                    Video chat enables you to speak with a mentor through the webcam or your phones camera.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="fa fa-volume-up"></i>
                  </a>
                  <h4>Audio Chat</h4>
                  <p>
                    If you prefer to listen and speak instead of typing or video chat then audio chat will provide for
                    you.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="fa fa-link"></i>
                  </a>
                  <h4>Resources Page </h4>
                  <p>
                    Resources page is a collection of links to topics related to mental health or other life issues. If
                    you want to learn more
                    about the different types of information related about mental health and suicide then you can visit
                    our resources page.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="fa fa-window-restore"></i>
                  </a>
                  <h4>Community Page</h4>
                  <p>
                    Community page is a collection of links to other organizations that provide a similar cause to ours
                    which includes
                    suicide hotlines, mental health awareness foundations, and other applications that are dedicated to
                    imporving peoples
                    lives.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="fa fa-map"></i>
                  </a>
                  <h4>Map Page</h4>
                  <p>
                    Our map page is a customized google map that provides geolocation,search functionality, and a
                    custom search filter that would
                    show the nearest hospitals, pharmacies, medical institutions, and doctors.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Service area -->




    <!-- Start contact Area -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Become a Mentor</h2>
                    </div>
                </div>
            </div>
          
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- Start  contact -->
                <form name ="formMentor" size="550" action="#" onsubmit="submitMentor(this);checkFile(this)">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="applyInput">Email address</label>
                        <input  type="email" class="col-md-12 col-sm-12 col-xs-12"  aria-describedby="emailHelp" placeholder="Enter email" >
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="FullNameInput">Full Name</label>
                        <input  type="text" class="col-md-12 col-sm-12 col-xs-12"  placeholder="Full Name" >
                    </div>
                   <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="fileUpload" type='file' name='upload'><h7>Attatch CV/Resume</h7>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <button  type="submit" class="btn btn-primary">Submit</button>
                    </div>
                        <br>
                    
                </form>
                <br>
                <br>
            </div>

            <div class="row">
                <br>
                <br>
                <!-- End Left contact -->
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-phone"></i>
                            <p>
                                Call: 416-491-5050<br>
                                <span>Monday-Friday (9am-5pm)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fas fa-envelope-open"></i>
                            <p>
                                Email: prj56607@outlook.com<br>
                                <span>Web: hopeline.azurewebsites.com</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fas fa-map-marker"></i>
                            <p>
                                Location: 60 pond rd<br>
                                <span> North York, ON M3N 3A1</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
    <!-- End Contact Area -->



