@page
@model HopeLine.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";

}
@using Newtonsoft.Json;


<head>
    <link rel="stylesheet" href="~/css/map.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/flexslides.css" />
</head>
<section class="py-5" style="background-image: url('https://unsplash.it/1900/1080?image=399');">
    <form class="dropdown text-center" method="post"  asp-action="/InstantChat">
        <button type="submit" class="btn btn-success">Talk to Mentor</button>
        <a class="btn btn-lg btn-primary  text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Topics
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            @foreach (var item in Model.Topics)
            {
                Dictionary<string, string> dictTopics = new Dictionary<string, string> { { "topics", JsonConvert.SerializeObject(item) } };

                <div class="form-check form-group" id="Topic">
                    <label class="p-0 form-check-label  css-label" for="Topic1">@item</label>
                    <input class="p-0 form-check-input" type="checkbox" id="Topic1" value="@item" />
                </div>

            }
        </div>

    </form>

</section>

<!--Welcome-->
<section class="welcome-section container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Hopeline. </h1>
            <h2>
                Need someone to talk to? Are you dealing with suicide or other mental health issues?Click on talk
                to mentor to speak with them.
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis sollicitudin lectus quis
                dignissim. In posuere tortor
                nec venenatis volutpat. Cras viverra placerat volutpat. Nullam fermentum suscipit velit, quis
                imperdiet lacus
                auctor eget. Nunc mauris tellus, tempor at justo ac, tristique dapibus diam. Donec vel maximus
                diam, sit amet
                mollis nibh. Aliquam leo eros, ornare id pulvinar tincidunt, ultricies vel nunc. Aliquam rutrum
                ultricies eros,
                in efficitur nulla luctus quis. Etiam vel ex at dui ornare hendrerit at vitae libero. Nulla
                malesuada eros ligula,
                ut auctor metus tincidunt at. Fusce volutpat efficitur erat feugiat ornare. In nec nisl eu sapien
                placerat interdum
                id vitae ex. Aenean ac interdum ipsum.
            </p>
        </div>
    </div>
</section>

<section class="py-6" style="background-image: url('https://unsplash.it/1900/1080?image=791');
                             background-attachment: fixed;
                             background-size: cover;
                             text-align: center;">
    <div style="height: 150px;"></div>
</section>

<!--Community-->
<section class="Community-section container">
    <h1>Visit our community page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis sollicitudin lectus quis dignissim. In
        posuere tortor
        nec venenatis volutpat. Cras viverra placerat volutpat. Nullam fermentum suscipit velit, quis imperdiet
        lacus
        auctor eget. Nunc mauris tellus, tempor at justo ac, tristique dapibus diam. Donec vel maximus diam, sit
        amet
        mollis nibh. Aliquam leo eros, ornare id pulvinar tincidunt, ultricies vel nunc. Aliquam rutrum ultricies
        eros,
        in efficitur nulla luctus quis. Etiam vel ex at dui ornare hendrerit at vitae libero. Nulla malesuada eros
        ligula,
        ut auctor metus tincidunt at. Fusce volutpat efficitur erat feugiat ornare. In nec nisl eu sapien placerat
        interdum
        id vitae ex. Aenean ac interdum ipsum.
    </p>
</section>

<!--Map-->
<!-- <section class="Map-section container"> -->
<section class="Map-section container">
    <h1>Check out our Map</h1>



    <div id="map" style="width:auto;height:400px;"></div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIFAuLDWD-TFRudMTWb-t2rUAzNyVFk3I&libraries=places&callback=initAutocomplete"
            async defer></script>

    <!--

    <div id="map" style="width:auto;height:400px;background:yellow"></div>
    <script>
            function myMap() {
                var mapOptions = {
                    center: new google.maps.LatLng(51.5, -0.12),
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
    -->
</section>



<!--resources-->
<!-- <section class="py-6" style="background-image: url('https://unsplash.it/1900/1080?image=791');"> -->
<!-- <div style="height: 200px;"></div> -->
<!-- </section> -->
<!--communicate-->
<section class="resources-section container">
    <h1>Visit our resource page if you want to learn more about mental health and information about suicide</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis sollicitudin lectus quis dignissim. In
        posuere tortor
        nec venenatis volutpat. Cras viverra placerat volutpat. Nullam fermentum suscipit velit, quis imperdiet
        lacus
        auctor eget. Nunc mauris tellus, tempor at justo ac, tristique dapibus diam. Donec vel maximus diam, sit
        amet
        mollis nibh. Aliquam leo eros, ornare id pulvinar tincidunt, ultricies vel nunc. Aliquam rutrum ultricies
        eros,
        in efficitur nulla luctus quis. Etiam vel ex at dui ornare hendrerit at vitae libero. Nulla malesuada eros
        ligula,
        ut auctor metus tincidunt at. Fusce volutpat efficitur erat feugiat ornare. In nec nisl eu sapien placerat
        interdum
        id vitae ex. Aenean ac interdum ipsum.
    </p>
</section>

<script src="~/js/map.js"></script>