@page

@model InstantChatModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Talk to Mentor";
}

<input id="isUser" value=@Model.IsUser hidden />
<section class="container" style="margin-top:200px;">
    <div class="row m-1 shadow-lg">
                <div class="col-3 rounded-left border-right d-none d-md-block text-white" style="height:480px;  background-color: #102542">
                    <h4 class="text-center text-white mt-2">Topics You Have Selected</h4>
                </div>
                <div class="col-md-9 col-sm-12 rounded-right" style="height:480px;background-image: linear-gradient(to right, #102542, #235789);">
                    <div class="row m-1">
                     
                        <div class="col-12 border mt-1" style="height:100px;">
                            <div class="">
                                <div id="buttons" class="row justify-content-between mt-2">
                                    <div class="col-lg-3 col-md-4">
                                    <button id="videoCallBtn" title="Call Mentor" class="btn btn-link text-white" style="font-size:30px;">
                                        <i class="fas fa-phone-square" ></i></button>
                                    <button id="endConversation" title="End Conversation"class=" btn btn-link text-white" style="font-size:30px"><i class="fas fa-sign-out-alt"></i></button>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div id="requestChat" class="alert alert-light mt-2" style="display:none;">
                            <h5>Chat with Mentor?</h5>
                            <a id="requestChat" type="button" class="btn btn-outline-dark" href="https://hopeline.azurewebsites.net/instantchat">Yes</a>
                            <a id="cancelRequest" type="button" class="btn btn-link" href="https://hopeline.azurewebsites.net">Cancel</a>
                        </div>                         
                        <div id="chatbox" class="col-12 m-0 bg-light" style="height:300px;overflow-y:auto;display:none;">
                            <!--message area-->
                        </div>
                        <div id="sendArea" class="col-11 " style="bottom:10px;position:absolute;right:10px;display:none;">
                            <div class="row justify-content-center">
                                <textarea id="messageInput" class="col-md-9 col-xs-12 form-control" placeholder="type your message..."
                                    rows="1"></textarea>
                                <button id="sendButton" title="Send Message" class="col-sm-2 d-sm-block d-none btn btn-outline-light m-1 disabled"><i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="modal" id="loading">
                        Waiting for Mentor...
                        <img src="/images/logo_loading.jpeg" alt="image" class="img img-fluid rounded-circle fa-spin" style="height:25px; width:25px" />
                        <a href="@Url.Page("/index")" class="btn btn-primary">Cancel</a>
                        <a href="#" rel="modal:close" id="mentorFound" hidden></a>
            </div>
            <p hidden><a id="openLoading" href="#loading" rel="modal:open"></a></p>
        <div id="disconnection" class="modal">
        <p>You are disconnected from the chat</p>
        <a href="http://hopeline.azurewebsites.net/InstantChat" class="btn btn-primary">Reconnect</a>
    </div>
    <p hidden><a id="modaltrigger" href="#disconnection" rel="modal:open"></a></p>
</section>

@section Scripts {
    <script src="~/js/chat-v1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script>
        filter = $('#myInput').val();
        // Hit ENTER to send messages
        $(function () {
            $("#messageInput").keypress(function (enter) {
                var code = (enter.keyCode ? enter.keyCode : enter.which);
                if (code == 13) {
                    enter.preventDefault();
                    $("#sendButton").trigger('click');
                }
            });
        });
    </script>

}
