@page

@model InstantChatModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Talk to Mentor";
}

<input id="isUser" value=@Model.IsUser hidden />
<section class="container" style="margin-top:100px;">
    <div class="row justify-content-center p-2 shadow-lg"style="height:600px">
        <div class="col-md-3 col-sm-12 d-none d-md-block border" style=" overflow-y: auto">
            <form method="POST" class="p-0 m-0">
                
                <div class="row justify-content-center" id="list">
                    @{
                        var filter = "";
                    }
                    <!--Search
    <div class="col-12 m-3 " style="position:sticky;top:0;z-index:1;">
        <input class="form-control" id="myInput" type="search" placeholder="Search" aria-label="Search">
    </div>-->
                    <!--Topics-->
                    @foreach (var item in Model.Topics.Where(i => i.Name.Contains(filter)))
                    {
                        <div class="col-12" id="myUL">
                            <div class="form-check form-group" id="Topic">
                                <p>@filter</p>
                                <label class="p-0 col-9 form-check-label  css-label" for="Topic1">@item.Name</label>
                                <input class="p-0 col-3 form-check-input float-right" type="checkbox" id="Topic1" style="height:20px; width:20px" />
                            </div>

                        </div>
                    }
                    <button type="submit" class="btn btn-secondary mt-2" style="position:sticky;bottom:0;z-index:1;">Submit</button>
                </div>
            </form>
        </div>
        <!-- end of users-->
        <div class="col-md-7 col-sm-12 p-0">
            <div class="row m-0">
                <div class="col-sm-12">
                    <h3 class="">Instant&nbsp;Chat</h3>
                    <div class=" text-right ml-1">
                        <a class=" btn  btn-outline-dark " href="https://www.google.ca"><i class="fas fa-phone fa-1x"></i></a>
                        <a data-target="#incomingCall" data-toggle="modal" id="videoCallBtn" class=" btn btn-outline-dark"><i class="fas fa-video fa-1x"></i></a>
                    </div>
                </div>

            </div>

            <input id="pin" value=@Model.PIN hidden />
                <div class="modal" id="loading" >
                    Waiting for Mentor...
                    <img src="/images/logo_loading.jpeg" alt="image" class="img img-fluid rounded-circle fa-spin" style="height:25px; width:25px"></img>
                    <a href="@Url.Page("/index")" class="btn btn-primary">Cancel</a>
                    <a href="#" rel="modal:close" id="mentorFound" hidden></a>
                </div>
                <p hidden><a id="openLoading" href="#loading" rel="modal:open"></a></p>
            <div class="col-12 border-top" style="height:500px; overflow-y:auto;" id="message">
                <div id="chatbox" class="card-body bg-clear">

                </div>
            </div>

            <div id="sendArea" class="col-12 border bg-white p-1 d-none">
                <div class="row m-1">
                    <div class="col-8" id="messageBar">
                        <textarea id="messageInput" class="form-control col-10" type="text" placeholder="type a message" rows="1" autofocus></textarea>
                    </div>
                    <div class="col-3">
                        <input id="sendButton" type="button" class="btn btn-info btn-lg" value="Send" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="disconnection" class="modal">
        <p>You are disconnected from the chat</p>
        <a href="http://hopeline.azurewebsites.net/InstantChat" class="btn btn-primary">Reconnect</a>
    </div>
    <p hidden><a id="modaltrigger" href="#disconnection" rel="modal:open"></a></p>
</section>
@section Scripts {
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    -->

    <script>
        


        filter = $('#myInput').val();
        /*
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("div");
            console.log("Number of topics: " + li.length);
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("label")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        */
        // Hit ENTER to send messages
        $(function () {
            $("#messageInput").keypress(function (enter) {
                var code = (enter.keyCode ? enter.keyCode : enter.which);
                
                if (code == 13) {
                    enter.preventDefault();
                    $("#sendButton").trigger('click');
                }
            });
        });

       

       
            /*
            function listFilter(list, input) {
                bar $lbs = list.find('.css-label');

                function filter() {
                    var regex = new RegExp('\\b' + this.value);
                    var $els = $lbs.filter(function () {
                        return regex.test($(this).text());

                    });
                    $lbs.not($els).hide().prev().hide();
                    $els.show().prev().show();

                };
                input.keyup(filter).change(filter)

            }

            jQuery(function ($) {
                listFilter($('#list'), $('.search-filter'))
            })
            */

    </script>

}
