@page
@model HopeLine.Web.Pages.MapModel
@{
    ViewData["Title"] = "Map";
}

<h1>
    Map Page</h1>

        <section class="Map-section container">
            <div id="map" style="width:800px;height:800px;background:yellow"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
        </section>


