@page
@model HopeLine.Web.Pages.Communication.SelectTopicsModel
@{
    ViewData["Title"] = "SelectTopics";
}

<hr />

<div class="container">

    <h1>Please Select the Topics for the Conversation</h1>

    <form action="/LiveChat.cshtml" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Topics</th>
                    <th scope="col">Description</th>
                    <th scope="col">Select&nbsp;Here</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Depression</td>
                    <td>Do you feel hopeless or lack interest in life in general? There are many sources to depression ranging from past emotional trauma to chemical imbalances. Don't be afraid to speak about this issue as depression is more common than you think. Depression symptoms can include personality changes,wanting isolation, fatigue, lack of motivation, and sleep issues. Check this box if you think you suffer from depression. Don't be afraid to ask for help.</td>
                    <td class="form-group">
                        <input type="checkbox" value="depression" style="width: 20px; height: 20px;" class="pull-right">
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bullying</td>
                    <td>Are you feeling like your life being threatened by another person(s). Are you afraid to go school or work because you fear someone there? Are you being harassed online by people? There are many types of bulling randing from verbal,physical, to cyber bullying. If you feel like you are being bullied then check this box and a mentor available will provide you the best advice to deal with bullying. Bullying can affect many aspects of your life so reach out for help.</td>
                    <td class="form-group">
                        <input type="checkbox" value="bullying" style="width: 20px; height: 20px;" class="pull-right">
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Phonbia</td>
                    <td>Do you believe you have an extreme irrational fear of something or someone? There is no shame of admitting your fears here in Hopeline. Phobias can signal an issue with the environment that your in even some medical or health concern that you may suffer from. Phobias may seem irrational and considered not normal but you are always welcome here in hopeline to discuss your issues and what you fear. If you believe you havea phobia and want to spealk with a mentor then please do!</td>
                    <td class="form-group">
                        <input type="checkbox" value="phonbia" style="width: 20px; height: 20px;" class="pull-right">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Submit
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a type="submit" class="dropdown-item" asp-page="LiveChat">Live Chat</a>
                <a type="submit" class="dropdown-item" asp-page="AudioChat">Audio Chat</a>
                <a type="submit" class="dropdown-item" asp-page="VideoChat">Video Chat</a>
            </div>
        </div>
    </form>

</div>
