@page
@model HopeLine.Web.Pages.VideoChatModel
@{
    ViewData["Title"] = "VideoChat";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
        #local-media{
            position:fixed;
            top:10px;
            right:10px;
            z-index: 5
        }
        #local-media video {
            max-height: 200px;
            max-width: 200px;
        }
        
    </style>
</head>

<body class="container-fluid bg-dark text-white">
<section class="row justify-content-center">
            <div id="local-media" class="p-1 border">
            </div>
        <div id="remote-media" class=" border col-12">

        </div>
    </section>
    <section class="row" style="bottom:20px;position:fixed;z-index:-1">
        <div class="col-4">
            <button class=" btn btn-lg btn-outline-light">
                <i class="fas fa-volume-mute"></i>
            </button>
        </div>
        <div class="col-4">
            <button class=" btn btn-lg btn-outline-light">
                <i class="fas fa-video 9x"></i>
            </button>
        </div>
        <div class="col-4">
            <button class=" btn btn-lg btn-outline-light">
                <i class="far fa-times-circle 9x"></i>
            </button>
        </div>
    </section>

    <input id="token" type="hidden" value="@Model.Token" />
    <input id="roomId" type="hidden" value="@Model.RoomId" />
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0-beta1/twilio-video.min.js"></script>
    <script src="~/js/video.js"></script>
</body>
</html>