<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HopeLine.Web </title>

        <link rel="stylesheet" href="~/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        
    </head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div id="headerMenu" class="container">
            <a class="navbar-brand" href="./index.html" style="font-size: 30px">HopeLine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <!--   <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="TalkToMentor/TalkToMentor.html">Talk to Mentor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Map/Map.html">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Resources/Resources.html">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Community/Community.html">Community</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>


    <div class="container body-content" style="margin-top:100px;">
        @RenderBody()
    </div>
    

        <script src="~/js/jquery-3.3.1.js"></script>
        <script src="~/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/signalr.js"></script>
        <script src="~/js/chat.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>



