<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>HopeLine</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Site.css">
</head>

<body class="container">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div id="headerMenu" class="container">
            <a class="navbar-brand" href="./index.html" style="font-size: 30px">HopeLine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <!--   <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="TalkToMentor/TalkToMentor.html">Talk to Mentor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Map/Map.html">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Resources/Resources.html">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Community/Community.html">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Account/LoginRegister.html">Login/Register</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <!-- <div id="navbar" class="navbar navbar-inverse navbar-fixed-top bg-light"> -->
    <!-- <div id="navbar" class="container"> -->
    <!-- <div class="navbar-header"> -->
    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> -->
    <!-- <span class="icon-bar"></span> -->
    <!-- <span class="icon-bar"></span> -->
    <!-- <span class="icon-bar"></span> -->
    <!-- </button> -->
    <!-- <ul class="nav navbar-nav"> -->
    <!-- <li> -->
    <!-- <a href="./index.html">HopeLine</a> -->
    <!-- </li> -->
    <!-- </ul> -->

    <!-- </div> -->
    <!-- <div class="navbar-collapse collapse pull-right"> -->
    <!-- <ul class="nav navbar-nav"> -->
    <!-- <li> -->
    <!-- <a href="TalkToMentor/TalkToMentor.html">Talk to Mentor</a> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a href="Map/Map.html">Map</a> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a href="Resources/Resources.html">Resources</a> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a href="Community/Community.html">Community</a> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a href="Account/LoginRegister.html">Login/Register</a> -->
    <!-- </li> -->
    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"> -->
    <!-- </ul> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->



    <section class="py-5" style="background-image: url('https://unsplash.it/1900/1080?image=399');">
        <a class="btn btn-success" style="width:200px;height:40px;" href="TalkToMentor/TalkToMentor.html"> Talk to a
            mentor </a>

    </section>


    <!--Welcome-->
    <section class="welcome-section container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Hopeline. </h1>
                <h2>Need someone to talk to? Are you dealing with suicide or other mental health issues?Click on talk
                    to mentor to speak with them.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis sollicitudin lectus quis
                    dignissim. In posuere tortor
                    nec venenatis volutpat. Cras viverra placerat volutpat. Nullam fermentum suscipit velit, quis
                    imperdiet lacus
                    auctor eget. Nunc mauris tellus, tempor at justo ac, tristique dapibus diam. Donec vel maximus
                    diam, sit amet
                    mollis nibh. Aliquam leo eros, ornare id pulvinar tincidunt, ultricies vel nunc. Aliquam rutrum
                    ultricies eros,
                    in efficitur nulla luctus quis. Etiam vel ex at dui ornare hendrerit at vitae libero. Nulla
                    malesuada eros ligula,
                    ut auctor metus tincidunt at. Fusce volutpat efficitur erat feugiat ornare. In nec nisl eu sapien
                    placerat interdum
                    id vitae ex. Aenean ac interdum ipsum.
                </p>
            </div>
        </div>
    </section>

    <section class="py-6" style="background-image: url('https://unsplash.it/1900/1080?image=791');">
        <div style="height: 150px;"></div>
    </section>

    <!--Community-->
    <section class="Community-section container">
        <h1>Visit our community page</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis sollicitudin lectus quis dignissim. In
            posuere tortor
            nec venenatis volutpat. Cras viverra placerat volutpat. Nullam fermentum suscipit velit, quis imperdiet
            lacus
            auctor eget. Nunc mauris tellus, tempor at justo ac, tristique dapibus diam. Donec vel maximus diam, sit
            amet
            mollis nibh. Aliquam leo eros, ornare id pulvinar tincidunt, ultricies vel nunc. Aliquam rutrum ultricies
            eros,
            in efficitur nulla luctus quis. Etiam vel ex at dui ornare hendrerit at vitae libero. Nulla malesuada eros
            ligula,
            ut auctor metus tincidunt at. Fusce volutpat efficitur erat feugiat ornare. In nec nisl eu sapien placerat
            interdum
            id vitae ex. Aenean ac interdum ipsum.
        </p>
    </section>

    <!--Map-->
    <!-- <section class="Map-section container"> -->
    <section class="Map-section container">
        <h1>Check out our Map</h1>
        <div id="map" style="width:auto;height:400px;background:yellow"></div>

        <script>
            function myMap() {
                var mapOptions = {
                    center: new google.maps.LatLng(51.5, -0.12),
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            } 
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>

    </section>



    <!--resources-->
    <!-- <section class="py-6" style="background-image: url('https://unsplash.it/1900/1080?image=791');"> -->
    <!-- <div style="height: 200px;"></div> -->
    <!-- </section> -->

    <!--communicate-->
    <section class="resources-section container">
        <h1>Visit our resource page if you want to learn more about mental health and information about suicide</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis sollicitudin lectus quis dignissim. In
            posuere tortor
            nec venenatis volutpat. Cras viverra placerat volutpat. Nullam fermentum suscipit velit, quis imperdiet
            lacus
            auctor eget. Nunc mauris tellus, tempor at justo ac, tristique dapibus diam. Donec vel maximus diam, sit
            amet
            mollis nibh. Aliquam leo eros, ornare id pulvinar tincidunt, ultricies vel nunc. Aliquam rutrum ultricies
            eros,
            in efficitur nulla luctus quis. Etiam vel ex at dui ornare hendrerit at vitae libero. Nulla malesuada eros
            ligula,
            ut auctor metus tincidunt at. Fusce volutpat efficitur erat feugiat ornare. In nec nisl eu sapien placerat
            interdum
            id vitae ex. Aenean ac interdum ipsum.
        </p>
    </section>

    <!-- CONTENTS GO HERE -->



    <!-- CONTENTS END HERE -->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-col">
                    <div class="logofooter"> Contact</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <p>
                        <i class="fa fa-map-pin"></i> #228, Tiruvannamalai, Tamilnadu, India</p>
                    <p>
                        <i class="fa fa-phone"></i> Phone (India) : +91 9999 999 999</p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : info@prabuuideveloper.com</p>

                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">About Us</h6>
                    <div class="post">
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">Social Media</h6>
                    <ul class="footer-social">
                        <li>
                            <a href="www.linkedin.com"><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-google-plus social-icon google" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p id="demo" class="copyright"></p>
            </div>
        </div>
    </div>
    <script src="../js/Site.js"></script>

    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../jquery/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</body>


</html>