@page
@using HopeLine.Web.Pages.Account
@model ConfirmEmailModel

    <section class="container" style="height:100%;">
        <div style="margin-top:60px;"></div>
        <div class="col-12">

        <div class="email-cofirmation card">
            <div class="card-header">
                <h2>Your Email is Confirmed!</h2>
            </div>
            <div class="card-body">
                <a href="@Url.Page("/Login", new {area="Mentor"})" class="btn btn-success btn-lg">Re-Login</a>
            </div>
        </div>
        </div>
    </section>
