@page
@model HopeLine.Web.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<br />

<div class="row">
    <div class="col-md-12" style=" width: 100%; align-items: center; justify-content: space-around; display: flex; float: none;">
        <section>
            <form method="post">
                <h4>ForgotPassword</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Please Enter the Email Address</label>
                    <input class="form-control" type="email" />
                    <!--<span asp-validation-for="Input.Email" class="text-danger"></span>-->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </section>
    </div>
</div>