@page
@model HopeLine.Web.Pages.HopeLineUser
@{
    ViewData["Title"] = "Admin Home";
    //Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<hr />

<div class="sidebar bg-dark">
    <!-- Profile -->
    <div>
        <div class="card bg-dark">
            <div class="card-header" id="depressionHeader">
                <h5 class="mb-0">
                    <a class="btn nav-link mt-5 dropdown" data-toggle="collapse" data-target="#depression" style="color:rgba(255,255,255,.5)">
                        Profile
                    </a>
                </h5>
            </div>
        </div>
    </div>


    <!-- Change Password-->
    <div>
        <div class="card bg-dark">
            <div class="card-header" id="depressionHeader">
                <h5 class="mb-0">
                    <a class="btn nav-link mt-5 dropdown" data-toggle="collapse" data-target="#depression" style="color:rgba(255,255,255,.5)">
                        Change Password
                    </a>
                </h5>
            </div>
        </div>
    </div>


    <!--Personal Data -->
    <div>
        <div class="card bg-dark">
            <div class="card-header" id="anxietyHeader">
                <h5 class="mb-0">
                    <a class="btn nav-link dropdown" data-toggle="collapse" data-target="#anxiety" style="color:rgba(255,255,255,.5)">
                        Add Mentor
                    </a>
                </h5>
            </div>
        </div>
    </div>
</div>

