@page
@model HopeLine.Web.Pages.HopeLineUser
@{
    ViewData["Title"] = "Admin Home";
    //Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<hr />

<div class="sidebar bg-dark">
    <!-- Profile -->
    <div>
        <div class="card bg-dark">
            <div class="card-header" id="depressionHeader">
                <h5 class="mb-0">
                    <a class="btn nav-link mt-5 dropdown" data-toggle="collapse" data-target="#depression" style="color:rgba(255,255,255,.5)">
                        Change Password
                    </a>
                </h5>
            </div>
        </div>
    </div>


    <!-- Change Password-->
    <div>
        <div class="card bg-dark">
            <div class="card-header" id="depressionHeader">
                <h5 class="mb-0">
                    <a class="btn nav-link mt-5 dropdown" data-toggle="collapse" data-target="#depression" style="color:rgba(255,255,255,.5)">
                        Change Password
                    </a>
                </h5>
            </div>
        </div>
    </div>


    <!--Personal Data -->
    <div>
        <div class="card bg-dark">
            <div class="card-header" id="anxietyHeader">
                <h5 class="mb-0">
                    <a class="btn nav-link dropdown" data-toggle="collapse" data-target="#anxiety" style="color:rgba(255,255,255,.5)">
                        Personal Data
                    </a>
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="content accordion-group ">
    <div class="container">
        <div class="row" style="margin-top:60px">
            <div class="col-md-4 float-left">
                <input type="text" value="Search" />
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search by account type
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item btn btn-primary">Mentor</button>
                        <button class="dropdown-item  btn btn-primary">User</button>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success">Add mentor</button>
            </div>

        </div>
    </div>
   

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Account Type</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.HopeLine)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelitem => item.Id)</th>
                    <td>@Html.DisplayFor(modelitem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelitem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelitem => item.AccountType)</td>
                    <td>
                        <a class="btn btn-warning">
                            Manage
                        </a>
                        </td>
                </tr>
                        

            }
        </tbody>
</table>

</div>
   



