/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    height: 85%;
    width: 100%;
}

/*
.button {
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: sans-serif;
}

.button:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#description {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}


label {
    padding: 0 5px;
}

*/


@media (min-width: 300px) {
    #map {
        height: 500px;
    }

}


@media (min-width: 576px) {
    #map {
        height: 700px;
    }

}


@media (min-width: 768px) {
    #map {
        height: 900px;

    }


}

@media (min-width: 992px) {
    #map {
        height: 1080px;
    }
}