@page
@using HopeLine.Web.Areas.User.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel
@{
      Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row mentor-login justify-content-center mb-5" style="margin-top:100px;">
   <form class="col-xs-12 shadow-lg rounded p-5 m-0" method="POST">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="email"><small class="text-muted">Email address</small></label>
        <input asp-for="RegisterViewModel.Username" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" autofocus>
        <small id="emailHelp" class="form-text text-muted"> We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label  for="fname"><small class="text-muted">First Name</small></label>
        <input asp-for="RegisterViewModel.FirstName" type="text" class="form-control required" id="fname" placeholder="Enter First Name" >
    </div>
    <div class="form-group">
        <label  for="lname"><small class="text-muted">Last Name</small></label>
        <input asp-for="RegisterViewModel.LastName" type="text" class="form-control  required" id="lname" placeholder="Enter Last Name" >
    </div>
    <div class="form-group">
        <label for="password"><small class="text-muted">Password</small></label>
        <input asp-for="RegisterViewModel.Password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="retype-password"><small class="text-muted">Re-type Password</small></label>
        <input asp-for="RetypePassword"  type="password" class="form-control" id="retype-password" placeholder="Re-type Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>