@page
@using HopeLine.Web.Areas.User.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel
@{
      Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container  mb-5" style="margin-top:100px;">
   <form class="form-row justify-content-center shadow-lg p-4 m-0" method="POST">
       <h3 class="col-8 text-success">Register with HopeLine</h3>
       <br/>
        @{
            if(!ModelState.IsValid){
            <div class="form-group alert alert-danger col-8" role="alert">
                    Ops! Invalid Input. Please try again...
            </div>
            }
            else{
            <div class="alert alert-info col-8" role="alert">
                    Please fill all required textfields.
            </div>
            }
        }
    <div class="form-group col-8">
        <label for="email"><small class="text-muted">Email Address</small><span class="text-danger"> *</span></label>
        <input asp-for="RegisterViewModel.Username" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" autofocus>
        <small>
        <span asp-validation-for="RegisterViewModel.Username" class="text-danger"></span>
        </small>
    </div>
        <div class="form-group col-8">
            <label  for="fname"><small class="text-muted">First Name</small><span class="text-danger"> *</span></label>
            <input asp-for="RegisterViewModel.FirstName" type="text" class="form-control" id="fname" placeholder="Enter First Name" >
            <small>
            <span asp-validation-for="RegisterViewModel.FirstName" class="text-danger"></span>
            </small>
        </div>
        <div class="form-group col-8">
            <label  for="lname"><small class="text-muted">Last Name</small><span class="text-danger"> *</span></label>
            <input asp-for="RegisterViewModel.LastName" type="text" class="form-control  required" id="lname" placeholder="Enter Last Name" >
            <small>
            <span asp-validation-for="RegisterViewModel.LastName" class="text-danger"></span>
            </small>
        </div>

        <div class="form-group col-8">
            <label for="password"><small class="text-muted">Password</small><span class="text-danger"> *</span></label>
            <input asp-for="RegisterViewModel.Password" type="password" class="form-control" id="password" placeholder="Password">
            <small>
            <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>  
            </small>
        </div>
        <div class="form-group col-8">
            <label for="retype-password"><small class="text-muted">Re-type Password</small><span class="text-danger"> *</span></label>
            <input asp-for="RegisterViewModel.RetypePassword"  type="password" class="form-control" id="retype-password" placeholder="Re-type Password">
            <small>
                <span asp-validation-for="RegisterViewModel.RetypePassword" class="text-danger"></span>
            </small> 
        </div>

    <div class="form-group col-8">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
</div>