@page
@using HopeLine.Web.Areas.Guest.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
@{
    <!--/home/exd/Source/Repos/HopeLine/PRJ/HopeLine.Web/Areas/Shared/_Layout.cshtml-->
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div style="margin-top:100px;"></div>
<section class="admin-login justify-content-center">
    <div class="row justify-content-center">
        <form method="POST" class="col-xs-12 shadow-lg rounded  p-5 m-0">
            <h1 class="display-5">Login as Guest</h1>
            <hr />
            <input  asp-for="Username" id="username "type="text"  class="form-control" placeholder="Username" required autofocus value="@Model.Username">
            <br />
            <button class="btn btn-lg btn-success btn-block" type="submit" >Sign in</button>
            <input type="button" id="randomName" class="btn btn-lg btn-light btn-block" value="Random"/>
        </form>
        <script>
          $('#randomName').click(function (e) {
            console.log('click')
            $.ajax({
                type: "GET",
                url: "https://uinames.com/api/?region=canada",
                dataType: "jsonp",
                 headers: {
                    'Access-Control-Allow-Origin': '*'
                },
                success: function (response) {
                    $('#username').val(response["name"]+response["surname"]);
                },
                failure: function (response) {
                    console.log('Unable to Get Name.');
                }
            });
            e.preventDefault();
        });
    </script>

    </div>
</section>