@page

@{
    <!--/home/exd/Source/Repos/HopeLine/PRJ/HopeLine.Web/Areas/Shared/_Layout.cshtml-->
    Layout = "~/Areas/Shared/_Layout.cshtml";
}

<section class="admin-login justify-content-center">
    <div class="row justify-content-center">
    <form class=" col-xs-12 shadow-lg border-rounded p-3 m-0">
        <h1 class="display-5">Login as Guest</h1>
        <hr />
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <br />
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        </form>
    </div>


</section>