<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <title>Mentor Chat Space</title>
  </head>

  <body class="container-fluid p-0" style="margin-top:60px;">
    <section class="m-0">
      <div class="row justify-content-center">
        <div class="col-4 bg-dark d-none d-lg-block d-md-block" style="height:500px;overflow-y: scroll">
          <div class="row justify-content-center">
            <div class="col-12 m-3 bg-dark" style="position:sticky;top:0;z-index:1;">
              <input class="form-control " type="search" placeholder="Search" aria-label="Search">
            </div>
            <!--users-->
            <div class="mentor-chat-users col-12 m-3">
              <div class="row">
                <img class="rounded-circle mr-3 ml-3 mb-3" src="https://via.placeholder.com/50x50">
                <div class=" col-8 p-0">
                  <h5 class="text-white">Username1</h5>
                  <p class="text-muted">Finished Conversation<small>Oct 7, 2017</small></p>
                </div>
              </div>
            </div>
            <div class="user-convo col-12 m-3">
              <div class="row">
                <img class="rounded-circle mr-3 ml-3 mb-3" src="https://via.placeholder.com/50x50">
                <div class=" col-8 p-0">
                  <h5 class="text-white">Username2</h5>
                  <p class="text-muted">Finished Conversation - <small>Oct 7, 2017</small></p>
                </div>
              </div>
            </div>
            <div class="mentor-chat-users col-12 m-3">
              <div class="row">
                <img class="rounded-circle mr-3 ml-3 mb-3" src="https://via.placeholder.com/50x50">
                <div class=" col-8 p-0">
                  <h5 class="text-white">Username3</h5>
                  <p class="text-muted">Finished Conversation<small>Oct 7, 2017</small></p>
                </div>
              </div>
            </div>
            <div class="user-convo col-12 m-3">
              <div class="row">
                <img class="rounded-circle mr-3 ml-3 mb-3" src="https://via.placeholder.com/50x50">
                <div class=" col-8 p-0">
                  <h5 class="text-white">Username4</h5>
                  <p class="text-muted">Finished Conversation - <small>Oct 7, 2017</small></p>
                </div>
              </div>
            </div>

            <div class="mentor-chat-users col-12 m-3">
              <div class="row">
                <img class="rounded-circle mr-3 ml-3 mb-3" src="https://via.placeholder.com/50x50">
                <div class=" col-8 p-0">
                  <h5 class="text-white">Username5</h5>
                  <p class="text-muted">Finished Conversation<small>Oct 7, 2017</small></p>
                </div>
              </div>
            </div>
            <div class="user-convo col-12 m-3">
              <div class="row">
                <img class="rounded-circle mr-3 ml-3 mb-3" src="https://via.placeholder.com/50x50">
                <div class=" col-8 p-0">
                  <h5 class="text-white">Username6</h5>
                  <p class="text-muted">Finished Conversation - <small>Oct 7, 2017</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of users-->

        <div class="col-7 border-dark bg-dark p-0" style="height:500px;">
          <div class="row p-3 m-0">
            <div class="col-12">
              <img class="rounded-circle" src="https://via.placeholder.com/75x75">
              <h3 class="col-4 d-inline-block text-white">Username6</h3>
            </div>
          </div>

          <div class="col-12 bg-white" style="height:330px; overflow-y:scroll;" id="messages">
            <div class="row justify-content-center p-3">
              <div id="message" class="col-11 mb-5">
                <h5>User</h5>
                <p class="bg-primary text-justify rounded p-2" style="min-height:50px;"> Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elit. Curabitur vitae pulvinar ex, nec aliquam justo. Nulla mollis auctor lorem at
                  feugiat. Sed arcu urna, lobortis non ornare in, condimentum quis metus. Integer semper auctor justo,
                  non mollis mauris interdum a. Integer faucibus tellus et ante elementum porta. Quisque mattis finibus
                  tristique. Nunc id gravida eros. Proin eget leo enim. Morbi eleifend eu tellus quis consectetur.
                  Aenean auctor accumsan purus at viverra. Cras et tristique quam. Vestibulum tincidunt velit a gravida
                  tempor. Pellentesque enim quam, ornare ut tortor ac, iaculis imperdiet augue. In hac habitasse platea
                  dictumst. In lobortis augue ut eros ultrices, ac ornare arcu ornare. Nunc ultrices odio in blandit
                  luctus.

                </p>
              </div>
              <div id="message" class="col-11 mb-5">
                <h5 class="text-right">User</h5>
                <p class="bg-primary rounded p-2 text-justify" style="min-height:50px;"> Lorem ipsum dolor sit amet,
                  consectetur
                  adipiscing elit. Curabitur vitae pulvinar ex, nec aliquam justo. Nulla mollis auctor lorem at
                  feugiat. Sed arcu urna, lobortis non ornare in, condimentum quis metus. Integer semper auctor justo,
                  non mollis mauris interdum a. Integer faucibus tellus et ante elementum porta. Quisque mattis finibus
                  tristique. Nunc id gravida eros. Proin eget leo enim. Morbi eleifend eu tellus quis consectetur.
                  Aenean auctor accumsan purus at viverra. Cras et tristique quam. Vestibulum tincidunt velit a gravida
                  tempor. Pellentesque enim quam, ornare ut tortor ac, iaculis imperdiet augue. In hac habitasse platea
                  dictumst. In lobortis augue ut eros ultrices, ac ornare arcu ornare. Nunc ultrices odio in blandit
                  luctus.

                </p>
              </div>
            </div>
          </div>
          <div class="col-12 " style="position:absolute; bottom:0;">
            <div class="row m-1">
              <textarea class="form-control col-10" type="text" placeholder="type a message" rows="1"></textarea>
              <div class="col">
                <input id="sendbutton" type="button" class="btn btn-secondary btn-lg" value="Send" />
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script>
      $("#sendbutton").click(function () {
        $("#messages").animate({
          scrollTop: $('#messages').prop("scrollHeight")
        }, "slow");
      });
    </script>
  </body>

</html>