<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeLine</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/Site.css">
    <link rel="stylesheet" href="../../css/Account/login.css">
</head>

<body  >

    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top bg-light">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../index.html">HopeLine</a>
                    </li>
                </ul>

            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../TalkToMentor/TalkToMentor.html">Talk to Mentor</a>
                    </li>
                    <li>
                        <a href="../Map/Map.html">Map</a>
                    </li>
                    <li>
                        <a href="../Resources/Resources.html">Resources</a>
                    </li>
                    <li>
                        <a href="../Community/Community.html">Community</a>
                    </li>
                    <li>
                        <a href="../Account/LoginRegister.html">Login/Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
       
    <form class="form-account">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login with HopeLine Account</h1>
        <hr/>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
          <div class="mb-2">
            <label>
              <a href="ForgotPassword.html" type="button" value="ForgotPassword" class="btn btn-sm btn-warning btn-block">Forgot Password</a>
            </label>
          </div>
          <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <hr/>
        <div class="mb-2">
            <label>
              <a href="GuestLogin.html" type="button" value="Login as Guest" class="btn btn-outline-secondary">Login as Guest</a>
            </label>
            <label class="pull-right">
                <a href="Register.html" type="button" value="Sign-up" class="btn btn-outline-secondary">Sign-up</a>
              </label>
          </div>
    </form>



        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 footer-col">
                        <div class="logofooter"> Contact</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <p>
                            <i class="fa fa-map-pin"></i> #228, Tiruvannamalai, Tamilnadu, India</p>
                        <p>
                            <i class="fa fa-phone"></i> Phone (India) : +91 9999 999 999</p>
                        <p>
                            <i class="fa fa-envelope"></i> E-mail : info@prabuuideveloper.com</p>

                    </div>
                    <div class="col-md-4 col-sm-6 footer-col">
                        <h6 class="heading7">About Us</h6>
                        <div class="post">
                            <p>facebook crack the movie advertisment code:what it means for you
                                <span>August 3,2015</span>
                            </p>
                            <p>facebook crack the movie advertisment code:what it means for you
                                <span>August 3,2015</span>
                            </p>
                            <p>facebook crack the movie advertisment code:what it means for you
                                <span>August 3,2015</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 footer-col">
                        <h6 class="heading7">Social Media</h6>
                        <ul class="footer-social">
                            <li>
                                <i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-google-plus social-icon google" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p id="demo" class="copyright"></p>
                </div>
            </div>
        </div>
		<script src="../js/Site.js"></script>

</body>

</html>