<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeLine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body class="container">
    <div class="row justify-content-center mt-5 ">
        <form class="form-account col-10  col-md-6 col-lg-4 mt-5  shadow-lg rounded">
            <img class="mb-4" src="#" alt="LOGO" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Login with HopeLine</h1>
            <hr />
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <br />
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <a href="ForgotPassword.html" type="button" value="ForgotPassword" class="btn btn-sm btn-warning btn-block">Forgot
                        Password</a>
                </label>
            </div>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <hr />
            <div class="mb-2">
                <label>
                    <a href="GuestLogin.html" type="button" value="Login as Guest" class="btn btn-outline-secondary">Login
                        as Guest</a>
                </label>
                <label class="pull-right">
                    <a href="Register.html" type="button" value="Sign-up" class="btn btn-outline-secondary">Sign-up</a>
                </label>
            </div>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>