<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeLine</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/Site.css">
    <link rel="stylesheet" href="../../css/Account/login.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div id="headerMenu" class="container">
            <a class="navbar-brand" href="./index.html" style="font-size: 30px">HopeLine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="TalkToMentor/TalkToMentor.html">Talk to Mentor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Map/Map.html">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Resources/Resources.html">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Community/Community.html">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Account/LoginRegister.html">Login/Register</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <form class="form-account">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <hr />
        <p>Please Enter Your Infomation</p>
        <br />
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input id="inputFirstName" class="form-control" placeholder="First Name" autofocus>
        <br />
        <label for="inputlLastName" class="sr-only">Last Name</label>
        <input id="inputLastName" class="form-control" placeholder="Last Name" autofocus>
        <br />
        <label for="inputUserName" class="sr-only">Username</label>
        <input id="inputUserName" class="form-control" placeholder="Username" required autofocus>
        <br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Retype Password" required>
        <br />
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <hr />
        <div class="mb-2">
            <label>
                <a href="GuestLogin.html" type="button" value="Login as Guest" class="btn btn-outline-secondary">Login
                    as Guest</a>
            </label>
            <label class="pull-right">
                <a href="LoginRegister.html" type="button" value="Login" class="btn btn-outline-secondary">Login</a>
            </label>
        </div>
    </form>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-col">
                    <div class="logofooter"> Contact</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <p>
                        <i class="fa fa-map-pin"></i> #228, Tiruvannamalai, Tamilnadu, India</p>
                    <p>
                        <i class="fa fa-phone"></i> Phone (India) : +91 9999 999 999</p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : info@prabuuideveloper.com</p>

                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">About Us</h6>
                    <div class="post">
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">Social Media</h6>
                    <ul class="footer-social">
                        <li>
                            <i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-google-plus social-icon google" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p id="demo" class="copyright"></p>
            </div>
        </div>
    </div>

</body>
<script src="../js/Site.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../jquery/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</html>