<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeLine</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/Site.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div id="headerMenu" class="container">
            <a class="navbar-brand" href="./index.html" style="font-size: 30px">HopeLine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="TalkToMentor/TalkToMentor.html">Talk to Mentor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Map/Map.html">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Resources/Resources.html">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Community/Community.html">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Account/LoginRegister.html">Login/Register</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis
                        pharetra. Nulla facilisi. In semper blandit arcu. Nullam vitae sem convallis, vehicula nisi eu,
                        hendrerit justo. Pellentesque libero neque, interdum nec diam bibendum, tristique pellentesque
                        felis. Sed vel adipiscing lacus. Maecenas porta dolor a turpis aliquet, eget posuere nisi
                        fringilla. Aenean ac turpis tristique, feugiat mi sodales, laoreet neque. Donec tristique nec
                        quam sit amet sagittis. Mauris elementum ullamcorper risus at luctus.</p>
                    <p>Cras dui dui, suscipit ac massa et, fermentum lacinia lacus. Aliquam erat volutpat. Phasellus
                        non tellus quis quam eleifend laoreet. Etiam luctus augue nec lectus consequat euismod. Nulla
                        tristique augue a urna eleifend rutrum eget quis turpis. Curabitur consectetur aliquet
                        lobortis. Donec id felis leo. Etiam ullamcorper augue justo, vitae tincidunt ipsum gravida
                        vitae. Donec orci justo, vehicula rutrum mattis et, ornare ullamcorper mi. Mauris eget diam
                        est.</p>
                    <p>Ut non diam varius ante dictum blandit nec in tortor. Pellentesque sodales vel elit eget cursus.
                        In condimentum consequat mauris vel bibendum. Curabitur feugiat nibh in sodales condimentum. In
                        sit amet hendrerit massa, sed porta ipsum. Praesent consectetur consectetur sem, at aliquam
                        ante posuere ac. Sed sit amet quam egestas eros lobortis varius. Aenean eleifend nec turpis
                        eget faucibus. Duis pretium consequat velit, quis eleifend leo laoreet non. Quisque sit amet
                        lobortis urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae; In nisi nibh, convallis eu metus et, adipiscing laoreet quam.</p>
                    <p>Duis egestas cursus diam, ut volutpat tortor mattis tempor. In et imperdiet turpis. Proin
                        aliquet, lectus ultrices fringilla lobortis, purus risus imperdiet neque, eget consectetur
                        ligula quam non arcu. Curabitur vitae posuere elit, in faucibus felis. Suspendisse vitae nisl
                        eget ligula condimentum bibendum in ut nulla. Etiam non lacinia turpis. Aliquam placerat est
                        vestibulum turpis pretium elementum. Integer pharetra gravida massa, at aliquam turpis pulvinar
                        sit amet. Nam a lectus sed mauris suscipit commodo a non ipsum. Aenean dapibus porttitor massa
                        vitae auctor. Donec quis ultricies orci. Etiam semper, lectus vitae tristique ullamcorper,
                        risus lectus semper nulla, quis accumsan sem leo at neque.</p>
                    <p>Nullam vulputate lectus at nisi euismod, nec consectetur lorem elementum. Vestibulum id justo
                        metus. Etiam id lacinia nulla. Fusce aliquet convallis mauris iaculis iaculis. Suspendisse et
                        eleifend tortor. Nunc non tincidunt lorem. Integer consectetur magna felis, vel mattis diam
                        varius id. Morbi elementum semper purus, nec ullamcorper neque mattis in. Nulla facilisi.
                        Vivamus mollis justo eget urna bibendum sodales.</p>
                </article>
            </div>
        </div>
    </div>

    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-col">
                    <div class="logofooter"> Contact</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <p>
                        <i class="fa fa-map-pin"></i> #228, Tiruvannamalai, Tamilnadu, India</p>
                    <p>
                        <i class="fa fa-phone"></i> Phone (India) : +91 9999 999 999</p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : info@prabuuideveloper.com</p>

                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">About Us</h6>
                    <div class="post">
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                        <p>facebook crack the movie advertisment code:what it means for you
                            <span>August 3,2015</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 footer-col">
                    <h6 class="heading7">Social Media</h6>
                    <ul class="footer-social">
                        <li>
                            <i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-google-plus social-icon google" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p id="demo" class="copyright"></p>
            </div>
        </div>
    </div>

</body>
<script src="../js/Site.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../jquery/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</html>